@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --font-1-font-family: "Inter-Regular";
    --color-1: #F7723B;
    --color-2: #032859;
    --color-3: #ffffff;
    --color-4: #000000;
    --color-5: #1B1B1B;
    --color-6: #F7F9FD;
    --color-7: #a78bfa;
    --color-8: #fb923c;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  p {
    color: #6b7280;
    font-size: 0.875rem;
  }
  
  .bg-primary-color-2 {
    background-color: var(--color-2);
  }
  .bg-primary-color-3 {
    background-color: var(--color-3);
  }
  .bg-primary-color-4 {
    background-color: var(--color-4);
  }
  .bg-primary-color-5 {
    background-color: var(--color-5);
  }
  .bg-primary-color-6 {
    background-color: var(--color-6);
  }
  .bg-primary-color-7 {
    background-color: var(--color-7);
  }
  .bg-primary-color-8 {
    background-color: var(--color-8);
  }
  .btn-outline-orange {
    border-color: var(--color-1);

  }

  .color-1 {
    color: var(--color-1) !important;
  }
  .color-2 {
    color: var(--color-2);
  }
  .color-3 {
    color: var(--color-3);
  }
  .color-4 {
    color: var(--color-4);
  }
  .color-5 {
    color: var(--color-5);
  }
  .color-6 {
    color: var(--color-6);
  }
  .color-7 {
    color: var(--color-7);
  }
  .display-1 {
    font-size: 1.25rem;
  }
  .display-2 {
    font-size: 1.43rem;
  }
  .display-3 {
    font-size: 4.125rem;
  }
  .display-4 {
    font-size: 3.43rem;
  }
  .display-5 {
    font-size: 1.56rem;
  }
  .display-6 {
    font-size: 1.125rem;
  }
  .font-weight-4 {
    font-weight: 400;
  }
  .font-weight-5 {
    font-weight: 500;
  }
  .font-weight-6 {
    font-weight: 600;
  }
  .font-weight-7 {
    font-weight: 700;
  }
  .font-weight-8 {
    font-weight: 800;
  }
  .font-weight-3 {
    font-weight: 300;
  }
  .line-height-1 {
    line-height: 19.5px;
  }
  .line-height-2 {
    line-height: 24.3px;
  }
  .border-1 {
    border: 1px solid #e5e7eb;
    border-radius: 8px;
  }
  .border-2 {
    border: 1px solid #e5e7eb;
    border-radius: 4px;
  }
  .gap-10 {
    gap: 10px;
  }
  .gap-5 {
    gap: 5px;
  }
  .gap-15 {
    gap: 15px;
  }
  html, body {
    font-family: 'Montserrat', sans-serif;
  }

 .navbar-nav > li{
    padding-left:5px;
    padding-right:15px;
  }

  .bg-image {
    background-image: url(images/Bg.jpg);
  }
  .who-we-are {
    background-image: url(images/9.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  .about-img {
    position: relative;
    top: 5%;
    left: 15%;
    z-index: 1;
}